input {
  border: none;
  font-family: Arial;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  right: 25px;
  border-radius: 30px;
  background-color: #dcdcdc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.356), 0 6px 20px 0 rgba(0, 0, 0, 0.356);
  width: 100px;
}

.button {
  max-width: 80%;
}