input {
  border: none;
  font-family: Arial;
  cursor: pointer;
  margin-top: 900px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: #b5b5b5;
}